<h2>3.1 Datofilter</h2>

<div class="well">
    <p>
        Modifiser listen av tweets til å vise dato, og formatter dato på et mer leselig format.
    </p>

    <button class="btn btn-default" ng-click="show1 = !show1">Løsningsforslag</button>
    <div ng-show="show1">
        <pre>
&lt;ul ng-repeat=&quot;tweet in tweets&quot;&gt;
    &lt;li&gt;{ {tweet.timestamp | date:'medium'} } - { {tweet.text} }&lt;/li&gt;
&lt;/ul&gt;
        </pre>

    </div>
</div>

<h2>3.2 Søk</h2>
<div class="well">
  <p> Lag et søkefelt som filtrerer tweets basert på inputtekst </p>
  <button class="btn btn-default">Ingen løsningsforslag</button>
  Dokumentasjon: <a href="http://docs.angularjs.org/api/ng.filter:filter#!">ng.filter</a>
</div>
